<app-breadcrumbs></app-breadcrumbs>
<section>
    <div class="container">
      <div class="row">
        <app-product-category></app-product-category>
           <div class="col-xs-12 col-sm-8 col-lg-8">
               <div class="row">
                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                   <h2 class="text-center text-underline">{{categoryName | uppercase}}</h2></div>
               </div>

                <!-- info -->
                <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center media media-bold">
                    <div class="col-xs-12"><h3 class="media-bold noResult"><i>Who are we ?</i></h3></div>
                    <p>OUR MAIN MISSION IS THE ULTIMATE IN DESIGN, EMBODYING THE DISTINCTIVE STYLES OF AN INDIVIDUAL. WE PAIR OUR UNDERSTANDING OF THE SYMBIOSIS BETWEEN FACE SHAPE, HAIR TEXTURE AND LENGTH WITH A BROAD RANGE OF MATERIALS AND INNOVATIVE TECHNIQUES TO CREATE PIECES THAT ARE NOT ONLY BEAUTIFUL, BUT SUPERBLY CRAFTED AND FUNCTIONAL, MAKING OUR CUSTOMERS FEEL FASHIONABLE AND STYLISH.</p>
                   
                    <div class="col-xs-12 checkout"><h3 class="media-bold noResult"><i>Our History</i></h3></div>
                    <p>SINCE LAUNCHING IN MARCH 2017, IMAGINATIVE FASHION HAS ESTABLISHED ITSELF AS A GLOBAL FASHION DESTINATION TO BUSY FAST PACED WOMAN WITH A STRONG SENSE OF FASHION, SHE CAN BE OF ANY AGE AND THE DESIGNS FLATTER MOST BODY TYPES.
                      SHE LOVES EXCLUSIVE, HANDMADE, UNIQUE, ORIGINAL, INSPIRING, FUN AND POWERFUL CLOTHES. WE SELL CUTTING-EDGE FASHION AND OFFER A WIDE VARIETY OF FASHION-RELATED CONTENT STANDARD SIZES AND MADE-TO-MEASURE CLOTHING. OUR DESIGNS ARE INSPIRED BY CENTURIES OF FASHION, AN EXAMPLE OF THIS IS THE  GOLILLA – SPANISH COLLAR OF THE 17TH CENTURY.  WITH OUR CLOTHES WE WANT TO EMPOWER WOMEN FROM ALL RACES, SIZES AND FASHION STYLES. WE ARE PUSHING THE BOUNDARIES OF THE TRADITIONAL FASHION AND OFFERING A NEVER SEEN BEFORE HIGH FASHION QUALITY APPAREL.</p>
                    <!-- contact-us button -->
                    <div class="col-xs-12 checkout contact-us"><a class="btn btn-block btn-warning " routerLink = "/contact-us"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Contact Us</a></div>
                    <!-- button ends -->
                </div>
                <!-- info ends -->
          </div>
      </div>
    </div>
</section>